/*************************************** ESTILOS GENERALES ***********************************************/
body {
	
	background:url(../img/fondo3.png) no-repeat center top;
	background-size: cover; 
	
}

:root {
    --colorPrincipal : #f5f5dc;
    --separacion : 90px
}

#main-header {
	background: #f5f5dc;
	color: white;
	height: 80px;
}	
	#main-header a {
		color: #000000;
	}

/*
 * Logo
 */
#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}
	#logo-header:hover {
        color: #0b76a6;

	}
	
	#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.2em;
	}
	
	#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #999;
	}
	

/*
 * Navegación
 */
nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 80px;
		}
			
			nav ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}
			
				nav ul li a:hover {
					background: #0b76a6;
				}


#main-content {
	background: rgba(0, 0, 0, 0.384);
	width: 90%;
	max-width: 800px;
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}

	#main-content header,
	#main-content .content {
		padding: 40px;
	}


#main-footer {
	background: #333;
	color: white;
	text-align: center;
	padding: 20px;
    margin-top: 105px;
    max-width: 100%;
    background-size: cover;
}
	#main-footer p {
		margin: 0;
	}
	
	#main-footer a {
		color: white;
    }
    
    #main-header {
        background: #f5f5dc;
        color: white;
        height: 80px;
        
        width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
        left: 0; /* Posicionamos la cabecera al lado izquierdo */
        top: 0; /* Posicionamos la cabecera pegada arriba */
        position: fixed; /* Hacemos que la cabecera tenga una posición fija */
    }

.logoimg {
    width: 180px;
    height: 37px;
}

.flex {
    display: flex;
    justify-content: center;
}

.cuerpo {
    width: 100%;
    height: 500px;
}


.contenedor {
    position: absolute;
    color: black;
    top: 300px;
    left: 500px;
    width: 350px;
    height: 40px;
    font-size: 40px;
    overflow: hidden;
}

.contenedor p {
    margin-top: -7px;
   
}
.animacion {
    list-style-type: none;
    position: absolute;
    margin-top: -85px;
    margin-left: 65px;
    animation-name: cambio;
    animation-duration: 6s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

@keyframes cambio {
    0%{ margin-top: -85px;}
    35%{margin-top: -85px;}
    40%{margin-top: -135px;}
    75%{margin-top: -135px;}
    80%{margin-top: -180px;}
    100%{margin-top: -180px;}

}

footer {
    background-color: #333;
    color:white;
}

.flex-footer{
    display: flex;
    justify-content: space-between;
}
.personas{
    margin-left: 20px;
}

.derechos {
    margin-top: 30px;
    margin-right: 20px;
}

/******************************* pagina de registro *****************************************************/

.fondo-reg{
    background-image: url("../img/fondo3.png");
    background-repeat:no-repeat;
    background-size: 100%;
    background-position: center;
    


}

.formulario {
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif sans-serif;
    background-color: hsla(0, 100%, 100%, 0.5);
    height: fit-content;
    border-radius: 10px;
}


.formulario fieldset {
    border: black solid 2px;
    border-radius: 10px;
}

.formulario input {
    margin-bottom: 10px;
    padding: 7px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    background-color: transparent;
}

.formulario button {
    margin-left: 60px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: hsla(0, 100%, 50%, 0.5);
}

.imagen {
    margin-top: 60px;
    margin-right: 180px;
}

header h1 {
    margin-left: 250px;
}

.reg {
    margin-left: 300px;
}

/********************** PAGINA DE INGRESO ****************************************/
.texto {
    margin-left: 200px;
}

.reg-ingreso{
    margin-left: 250px;
}

/**************************** PAGINA DE GERENCIA **************************************/
.flex-gerencia{
    display: flex;
    justify-content: space-between;
}

.titulo-gerencia {
    margin-left: 150px;
    font-size: 20px;
    width: 600px;
}

.nav-gerencia {
    text-align: right;
    margin-left: 200px;
    margin-top: 20px;
    margin-right: 20px;
}

.contenedor-gerencia {
    margin-top: 30px;
    text-align: center;
    background-color: hsla(0, 50%, 20%, 0.5);
    padding: 15px;
    box-sizing: border-box;
    height: 350px;
    border-radius: 10px;
    font-size: 25px;
    color: white;
}
.separcion_izq{
    margin-left: var(--separacion);
}
.separcion_der {
    margin-right: var(--separacion);
}
.boton-gerencia {
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}